@font-face {
  font-family: 'Computer Says No';
  src: url('./fonts/ComputerSaysNo.ttf') format('truetype');
}

@font-face {
  font-family: 'Farmhand Serif';
  src: url('./fonts/FarmhandSerif.ttf') format('truetype');
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}